//  colors
$Rackley: #4d96a9;
$RoyalPurple: #855fb1;
$YankeesBlue: #28283d;
$RomanSilver: #87879d;
$PaleCyan: #8fe3f9;
$Mauve: #d9b8ff;
$Lotion: #fafafa;

// styles
@mixin heading1 {
	color: $YankeesBlue;
	font-size: 6.4rem;
	font-weight: 900;
	line-height: 64px;
}
@mixin heading2 {
	color: $YankeesBlue;
	font-size: 4rem;
	font-weight: 900;
	line-height: 44px;
}
@mixin overline {
	color: $Rackley;
	font-size: 1.6rem;
	font-weight: 900;
	line-height: 25px;
	letter-spacing: 4px;
	text-transform: uppercase;
}
@mixin body {
	color: $RomanSilver;
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 26px;
}
